Lista de queries para crear en API e ideas

In [9]:
import pandas as pd
import sys
sys.path.append("../")
from utils import cred_aws as cred_aws
from utils import funciones as f

In [20]:
conn = f.conect_bbdd(cred_aws.database,cred_aws.host,cred_aws.user,cred_aws.password,cred_aws.port)


query_1 = '''
SELECT info_juego.id_juego, nombre as Nombre_del_Juego,calificacion_psn as calificación,precio as precio_esp,fecha_webs as dia
FROM precio
INNER JOIN info_juego ON info_juego.id_juego = precio.id_juego
WHERE DATE(fecha_webs) = (
    SELECT MAX(DATE(fecha_webs)) AS ultimo_dia_disponible
    FROM precio) AND id_suscripcion = 1
ORDER BY calificación DESC, numero_calificaciones ASC

'''
query_2 = '''
SELECT precio as precio_oferta
FROM precio
INNER JOIN info_juego ON info_juego.id_juego = precio.id_juego
WHERE DATE(fecha_webs) = (
    SELECT MAX(DATE(fecha_webs)) AS ultimo_dia_disponible
    FROM precio) AND id_suscripcion = 1
ORDER BY calificacion_psn DESC, numero_calificaciones ASC
'''
query_3 = '''
SELECT precio as precio_plus
FROM precio
INNER JOIN info_juego ON info_juego.id_juego = precio.id_juego
WHERE DATE(fecha_webs) = (
    SELECT MAX(DATE(fecha_webs)) AS ultimo_dia_disponible
    FROM precio) AND id_suscripcion = 1
ORDER BY calificacion_psn DESC, numero_calificaciones ASC
'''
query_4 = '''
SELECT precio as precio_otra_promo
FROM precio
INNER JOIN info_juego ON info_juego.id_juego = precio.id_juego
WHERE DATE(fecha_webs) = (
    SELECT MAX(DATE(fecha_webs)) AS ultimo_dia_disponible
    FROM precio) AND id_suscripcion = 1
ORDER BY calificacion_psn DESC, numero_calificaciones ASC
'''
df_es_1 = f.sql_query(query_1,conn)
conn = f.conect_bbdd(cred_aws.database,cred_aws.host,cred_aws.user,cred_aws.password,cred_aws.port)
df_es_2 = f.sql_query(query_2,conn)
conn = f.conect_bbdd(cred_aws.database,cred_aws.host,cred_aws.user,cred_aws.password,cred_aws.port)
df_es_3 = f.sql_query(query_3,conn)
conn = f.conect_bbdd(cred_aws.database,cred_aws.host,cred_aws.user,cred_aws.password,cred_aws.port)
df_es_4 = f.sql_query(query_4,conn)

In [24]:
df_conc = df_es_1

In [27]:
df_conc["precio_oferta"] = df_es_2
df_conc["precio_plus"] = df_es_3
df_conc["precio_otra_promo"] = df_es_4

In [29]:
df_conc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9733 entries, 0 to 9732
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_juego           9733 non-null   int64
 1   nombre_del_juego   9733 non-null   object
 2   calificación       9733 non-null   float64
 3   precio_esp         9733 non-null   float64
 4   dia                9733 non-null   datetime64[ns]
 5   precio_oferta      9733 non-null   float64
 6   precio_plus        9733 non-null   float64
 7   precio_otra_promo  9733 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(1)
memory usage: 608.4+ KB

In [37]:
df_conc

,id_juego,nombre_del_juego,calificación,precio_esp,dia,precio_oferta,precio_plus,precio_otra_promo
0,10010064,Super Destronaut Landed X Loaded PS4® & PS5®,5.0,4.99,2024-05-05 19:38:09.434962,1.99,4.99,11.99
1,10006373,Independence Day Run,5.0,7.99,2024-05-05 20:56:24.205847,2.99,4.99,11.99
2,10009821,Flower Shop: Winter In Fairbrook PS4™ & PS5®,5.0,9.99,2024-05-05 20:41:47.257194,-1.00,17.99,7.99
3,10010755,Cazzarion: Dart Wheel,5.0,1.99,2024-05-05 19:40:00.420774,4.99,11.99,4.99
4,10007751,BookyPets Legends,5.0,19.99,2024-05-05 20:12:50.671498,9.99,7.99,4.99
...,...,...,...,...,...,...,...,...
9728,10000675,スーパーマッシュ,0.0,-1.00,2024-05-05 20:36:38.237890,14.99,14.99,29.99
9729,10006891,Stellar Blade™,0.0,79.99,2024-05-05 18:31:10.546665,2.99,2.99,-1.00
9730,10001377,Galacide,0.0,-1.00,2024-05-05 21:54:29.294993,9.99,9.99,-1.00
9731,10009581,MotoGP™24 PS4 & PS5,0.0,69.99,2024-05-05 18:31:08.851123,29.99,29.99,24.99
9732,10008884,Sea of Thieves,0.0,39.99,2024-05-05 18:31:04.404438,1.99,1.99,-1.00

hay que modificar con SQL las calificaciones de todo en los inserts rutinarios